@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-noir: #000;
    --color-blanc: #FFF;
    --color-texte: #b4bcd0;
    --color-background: #060606;
    --color-background2: #1C1D1F;
    --color-container: hsl(228, 15%, 15%);
    --color-header: #1b1d24;
    --color-primary: #5e6ad2;
    --color-primary-hover: #2d389b;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

i {
    font-size: .9em;
}

img,
a {
    -webkit-user-drag: none;
    font-family: "Inter";
}

html {
    font-family: 'Inter';
}

body {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-background);
}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1.5% 10%;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--color-blanc);
    z-index: 999;
    backdrop-filter: blur(35px);
    border-bottom: 1.5px solid #11121c;
}

header .left {
    display: flex;
    align-items: center;
}

header .left i {
    font-size: 1.2em;
    margin-right: 10px;
    color: var(--color-primary);
}

header a.title {
    font-size: 14px;
    color: var(--color-blanc);
    font-weight: 500;
    white-space: nowrap;
}

.nav_links {
    width: auto;
    list-style: none;
    display: flex;
    justify-content: start;
}

.nav_links:nth-child(3) {
    margin-left: auto;
}

.nav_links li {
    display: inline-block;
    text-align: center;
    padding-left: 24px;
}

.nav_links li a {
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #d5d5d5;
}

.nav_links li a.login {
    color: var(--color-primary);
}

.nav_links li a.signup {
    padding: 8px 12px;
}

.nav_links li a:hover {
    color: var(--color-blanc);
}

section#home,
section#expo,
section#personnel,
section#avis {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section#home h1 {
    color: var(--color-blanc);
    font-size: 60px;
    font-weight: 800;
    width: 50vw;
    text-align: center;
    line-height: 70px;
}

section#home p.desc {
    color: var(--color-texte);
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    width: 40vw;
    text-align: center;
    margin-top: 25px;
}

.btn {
    padding: 12px 20px;
    background-color: var(--color-primary);
    border-radius: 60px;
    color: var(--color-blanc);
}

.btn i {
    margin-left: 5px;
    font-size: .8em;
}

.btn:hover {
    background-color: var(--color-primary-hover);
}

section#home .btn {
    margin-top: 48px;
    font-size: 16px;
}

.ads {
    display: flex;
    padding: 12px 20px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background: var(--color-background);
    position: relative;
    margin-bottom: 30px;
    border-radius: 8px;
}

.ads::before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(90deg, #C73A55, #952C72);
    position: absolute;
    z-index: -1;
    filter: blur(15px);
    border-radius: 8px;
    opacity: .6;
}

.ads p {
    white-space: none;
    font-size: 16px;
    color: var(--color-blanc);
    letter-spacing: -.1px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ads p i {
    font-size: 1.4em;
    color: #C73A55;
    margin-right: 20px;
}

.ads hr {
    width: 1px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #333333;
    margin-inline: 20px;
}

.ads a {
    white-space: none;
    font-size: 16px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.ads a:hover {
    color: var(--color-blanc);
}

.ads a i {
    font-size: 1.2em;
    margin-left: 10px;
}

section#expo {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    background-color: var(--color-background2);
}

section#expo h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 55px;
}

section#expo p.desc {
    color: var(--color-texte);
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 30px;
}

section#expo p.desc span {
    color: var(--color-blanc);
    text-transform: capitalize;
    margin-right: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10%;
    width: calc(100vw - 52vw - 10% - 10%);
}

section#expo .rectangle {
    height: 70vh;
    min-height: 500px;
    width: 52vw;
    background: rgb(183, 134, 160);
    background: radial-gradient(circle, rgba(183, 134, 160, 1) 6%, rgba(128, 123, 195, 1) 12%, rgba(100, 118, 212, 1) 16%,
            rgba(80, 123, 236, 1) 18%, rgba(63, 146, 231, 1) 26%, rgba(78, 129, 209, 1) 48%, rgba(113, 90, 155, 1) 56%, rgba(192, 50, 106, 1) 71%,
            rgba(187, 77, 102, 1) 80%, rgba(237, 113, 92, 1) 90%, rgba(227, 144, 130, 1) 100%);
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    backdrop-filter: blur(20px);
}

section#expo .rectangle::before {
    content: '';
    position: absolute;
    height: 62vh;
    width: 47vw;
    bottom: 0;
    right: 0;
    /* background-image: url(); */
    background: var(--color-blanc);
    background-repeat: no-repeat;
    border-radius: 8px;
}

section#personnel h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 65px;
    margin-bottom: 40px;
}

section#personnel .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    justify-items: center;
    align-items: center;
    margin-inline: 10%;
}

section#personnel .grid .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 18vw;
}

section#personnel .grid .item h3 {
    color: #d0d6e0;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -.16px;
    font-weight: 400;
    text-transform: capitalize;
}

section#personnel .grid .item p {
    color: #8a8f98;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -.16px;
    font-weight: 400;
    text-transform: capitalize;
}

section#avis {
    background-color: var(--color-background2);
}

section#avis h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 65px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.col-avis {
    align-items: start;
}

section#avis .card {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #28292C;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 10px;
    color: var(--color-blanc);
}

section#avis .card img {
    border-radius: 50%;
    width: 103px;
    height: 43px;
    object-fit: cover;
    margin-right: 15px;
}

section#avis .card .column .row {
    margin-bottom: 5px;
}

section#avis .card p.nom {
    font-size: 1.1em;
    text-transform: capitalize;
}

section#avis .card p.aro {
    margin-left: 5px;
}

section#avis .card p.aro,
section#avis .card p.date {
    color: #B4B8BF;
    font-size: 1em;
}

section#avis .card i {
    color: #B4B8BF;
    font-size: 4px;
    margin-inline: 5px;
    position: relative;
    top: 1.5px;
}

section#avis .card p.message {
    line-height: 25px;
    color: #C4C8D0;
    font-weight: 400;
}

section#avis .card p.message span {
    color: var(--color-primary);
    font-weight: 500;
}