@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-noir: #000;
    --color-blanc: #FFF;
    --color-texte: #b4bcd0;
    --color-background: #060606;
    --color-background2: #1C1D1F;
    --color-container: hsl(228, 15%, 15%);
    --color-header: #1b1d24;
    --color-primary: #5e6ad2;
    --color-primary-hover: #2d389b;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-blanc);

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

i {
    font-size: .9em;
}

img,
a {
    -webkit-user-drag: none;
    font-family: "Inter";
}

html {
    font-family: 'Inter';
}

body {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-background);
}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1.5% 10%;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--color-blanc);
    z-index: 999;
    backdrop-filter: blur(35px);
    border-bottom: 1.5px solid #11121c;
}

header .left,
.header_responsive .left {
    display: flex;
    align-items: center;
}

header .left img,
.header_responsive .left img {
    margin-right: 10px;
    color: var(--color-primary);
}

header a.title,
.header_responsive a.title {
    font-size: 14px;
    color: var(--color-blanc);
    font-weight: 500;
    white-space: nowrap;
}

.nav_links {
    width: auto;
    list-style: none;
    display: flex;
    justify-content: start;
}

.nav_links:nth-child(3) {
    margin-left: auto;
}

.nav_links li {
    display: inline-block;
    text-align: center;
    padding-left: 24px;
}

.nav_links li a {
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #d5d5d5;
}

.nav_links li a.login {
    color: var(--color-primary);
    white-space: nowrap;
}

.nav_links li a.signup {
    padding: 8px 12px;
}

.nav_links li a:hover {
    color: var(--color-blanc);
}

/* responsive header */
.header_responsive {
    width: 100vw;
    height: 60px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 10%;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    backdrop-filter: blur(35px);
    border-bottom: 1.5px solid #11121c;
}

.menu_hamburger {
    position: fixed;
    top: 9px;
    right: 10%;
    font-size: 2.5em;
    color: var(--color-blanc);
    display: none;
    visibility: hidden;
    cursor: pointer;
    z-index: 99999;
}

section#home,
section#expo,
section#personnel,
section#avis,
section#faq,
section#contact,
section#billeterie {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section#expo,
section#personnel,
section#contact {
    min-height: 850px;
}

section#home h1 {
    color: var(--color-blanc);
    font-size: 60px;
    font-weight: 800;
    width: 50vw;
    text-align: center;
    line-height: 70px;
}

section#home p.desc {
    color: var(--color-texte);
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    width: 40vw;
    text-align: center;
    margin-top: 25px;
}

.btn {
    padding: 12px 20px;
    background-color: var(--color-primary);
    border-radius: 60px;
    color: var(--color-blanc);
}

.btn i {
    margin-left: 5px;
    font-size: .8em;
}

.btn:hover {
    background-color: var(--color-primary-hover);
}

section#home .btn {
    margin-top: 48px;
    font-size: 16px;
}

.ads {
    display: flex;
    padding: 12px 20px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background: var(--color-background);
    position: relative;
    margin-bottom: 30px;
    border-radius: 8px;
}

.ads::before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(90deg, #C73A55, #952C72);
    position: absolute;
    z-index: -1;
    filter: blur(15px);
    border-radius: 8px;
    opacity: .6;
}

.ads p {
    white-space: none;
    font-size: 16px;
    color: var(--color-blanc);
    letter-spacing: -.1px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ads p img {
    color: #C73A55;
    margin-right: 20px;
}

.ads hr {
    width: 1px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #333333;
    margin-inline: 20px;
}

.ads a {
    white-space: none;
    font-size: 16px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.ads a:hover {
    color: var(--color-blanc);
}

.ads a i {
    font-size: 1.2em;
    margin-left: 10px;
}

section#expo {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    background-color: var(--color-background2);
}

section#expo h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 55px;
}

section#expo p.desc {
    color: var(--color-texte);
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 30px;
}

section#expo p.desc span {
    color: var(--color-blanc);
    text-transform: capitalize;
    margin-right: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10%;
    width: calc(100vw - 52vw - 10% - 10%);
}

section#expo .rectangle {
    height: 70vh;
    min-height: 500px;
    width: 52vw;
    background: rgb(183, 134, 160);
    background: radial-gradient(circle, rgba(183, 134, 160, 1) 6%, rgba(128, 123, 195, 1) 12%, rgba(100, 118, 212, 1) 16%,
            rgba(80, 123, 236, 1) 18%, rgba(63, 146, 231, 1) 26%, rgba(78, 129, 209, 1) 48%, rgba(113, 90, 155, 1) 56%, rgba(192, 50, 106, 1) 71%,
            rgba(187, 77, 102, 1) 80%, rgba(237, 113, 92, 1) 90%, rgba(227, 144, 130, 1) 100%);
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    backdrop-filter: blur(20px);
}

section#expo .rectangle::before {
    content: '';
    position: absolute;
    height: 62vh;
    min-height: 450px;
    width: 47vw;
    bottom: 0;
    right: 0;
    background-image: url(image_expo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

section#personnel h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 65px;
    margin-bottom: 100px;
    text-align: center;
}

section#personnel .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    justify-items: center;
    align-items: center;
    margin-inline: 10%;
}

section#personnel .grid .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 18vw;
}

section#personnel .grid .item h3 {
    color: #d0d6e0;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -.16px;
    font-weight: 400;
    text-transform: capitalize;
}

section#personnel .grid .item p {
    color: #8a8f98;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -.16px;
    font-weight: 400;
    text-transform: capitalize;
}

section#avis {
    background-color: var(--color-background2);
}

section#avis h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 65px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridAvis {
    max-width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
}

section#avis .card {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #28292C;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    padding: 20px;
    /* margin: 12px 15px; */
    color: var(--color-blanc);
    width: 25vw;
    min-width: 400px;
}

section .pp {
    width: 40px;
    height: 40px;
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    min-height: 40px;
    overflow: hidden;
    border-radius: 50px;
    box-sizing: border-box;
    margin-right: 15px;
}

section .pp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#avis .card .column .row {
    margin-bottom: 5px;
}

section#avis .card p.nom {
    font-size: 1em;
    text-transform: capitalize;
    white-space: nowrap;
}

section#avis .card p.aro {
    margin-left: 5px;
}

section#avis .card p.aro,
section#avis .card p.date {
    color: #B4B8BF;
    font-size: .95em;
    white-space: nowrap;
}

section#avis .card i {
    color: #B4B8BF;
    font-size: 4px;
    margin-inline: 5px;
    position: relative;
    top: 1.5px;
}

section#avis .card p.message {
    line-height: 25px;
    color: #C4C8D0;
    font-weight: 400;
    font-size: .9em;
}

section#avis .card p.message span {
    color: var(--color-primary);
    font-weight: 500;
}

section#faq h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 65px;
    margin-bottom: 40px;
}

section#faq .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    min-width: 700px;
    height: 60px;
    cursor: pointer;
    background-color: var(--color-background);
    transition: background .25s ease-in-out;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
}

section#faq .question::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 15px;
    width: calc(100% - 15px - 10px);
    height: 1.1px;
    background-color: var(--color-background2);
    z-index: 2;
}

section#faq .question:nth-last-child(2)::before {
    content: '';
    visibility: hidden;
}

section#faq .question:hover {
    background-color: var(--color-background2);
}

section#faq .question p {
    font-size: 14px;
    line-height: 19px;
    color: #8a8f98;
    font-weight: 400;
}

section#faq .question p.title {
    font-weight: 500;
    color: var(--color-blanc);
    width: 50%;
}

section#faq .question p.subject,
section#faq .question p.date {
    width: 13%;
}

section#faq .pp {
    width: 35px;
    max-width: 35px;
    min-width: 35px;
    max-height: 35px;
    min-height: 35px;
    height: 35px;
    margin: 0;
}

section#faq .btn {
    margin-top: 50px;
    background: linear-gradient(90deg, #C73A55, #952C72);
}

section#faq .btn:hover {
    color: var(--color-blanc);
    background: linear-gradient(90deg, #972c3f, #611c4a);
}

section#contact {
    flex-direction: row;
}

section#contact .row {
    align-items: start;
    width: 55vw;
    justify-content: space-between;
}

section#contact h1 {
    color: var(--color-blanc);
    font-size: 35px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -.6px;
    white-space: nowrap;
}

section#contact form {
    background-color: var(--color-background2);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 10px;
    border: #3c3c3c 1px solid;
    width: 45%;
}

section#contact form .top {
    padding: 18px 24px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: #3c3c3c 1px solid;
    width: 100%;
}

section#contact form .top h2 {
    color: var(--color-blanc);
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    font-weight: 600;
}

section#contact form .content {
    color: var(--color-texte);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 24px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100%;
}

section#contact form .content label {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 8px;
    font-weight: 400;
}

section#contact form .content input,
section#contact form .content textarea {
    font-size: 13px;
    margin-bottom: 24px;
    background: none;
    border: 1px solid #3c3c3c;
    outline: none;
    width: 100%;
    color: var(--color-blanc);
    padding: 10px;
    border-radius: 8px;
    font-weight: 400;
}

section#contact form .content input:focus,
section#contact form .content textarea:focus {
    border: 1px solid var(--color-primary);
}

section#contact form .content .row {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

section#contact form .content .row p {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-texte);
    font-weight: 400;
}

section#contact form .content .row a {
    color: var(--color-texte);
    font-weight: 400;
}

section#contact form .content .row a:hover {
    color: var(--color-blanc);
    font-weight: 400;
}

section#contact form .content input.btn {
    padding: 7px 15px;
    border-radius: 60px;
    color: var(--color-blanc);
    width: auto;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

section#contact form .content input.btn:hover {
    background-color: #ffffff10;
}

section#billeterie {
    background-color: var(--color-background2);
}

section#billeterie h1 {
    color: var(--color-blanc);
    font-size: 44px;
    font-weight: 900;
    line-height: 55px;
    text-align: center;
}

section#billeterie .billet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    justify-items: center;
    align-items: center;
    margin-top: 80px;
}

section#billeterie .billet_type {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    background-color: #27272A;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .25);
    padding: 30px;
    cursor: pointer;
    transition: background .25s ease-in-out;
    border-radius: 10px;
    width: 16vw;
    height: 100%;
}

section#billeterie .billet_type:hover {
    background-color: var(--color-background);
}

section#billeterie .billet_type h2 {
    color: var(--color-blanc);
    font-size: 1em;
    font-weight: 500;
}

section#billeterie .billet_type p {
    color: #A7A9BE;
    font-size: 1em;
    font-weight: 400;
    margin-block: 15px;
}

section#billeterie .billet_type p:last-child {
    margin-top: auto;
    color: var(--color-primary);
    font-weight: 600;
    height: 45px;
    margin-bottom: 0;
}

@media (max-height: 1000px) {

    section#avis,
    section#faq,
    section#billeterie {
        height: auto;
        min-height: 1000px;
    }

    section#faq {
        min-height: 800px;
    }
}

@media (max-width: 1450px) {
    .gridAvis {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        align-items: start;
    }
}

@media (max-width: 1070px) {
    header {
        padding: 1.5% 5%;
    }

    .nav_links li {
        padding-left: 5px;
    }

    section#home h1 {
        font-size: 45px;
        width: 60vw;
        line-height: 50px;
    }

    section#home p.desc {
        font-size: 20px;
        line-height: 25px;
        width: 50vw;
        margin-top: 22px;
    }

    section#home .btn {
        margin-top: 35px;
        font-size: 15px;
    }

    section#expo {
        padding-left: 7%;
    }

    section#expo h1 {
        font-size: 35px;
        line-height: 40px;
    }

    section#expo p.desc {
        font-size: 18px;
        line-height: 23px;
        margin-top: 35px;
    }

    .column {
        margin-right: 7%;
        width: calc(100vw - 52vw - 7% - 7%);
    }

    section#personnel h1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 80px;
    }

    section#personnel .grid .item h3 {
        font-size: 16px;
        line-height: 20px;
    }

    section#personnel .grid .item p {
        font-size: 16px;
        line-height: 20px;
    }

    section#avis h1,
    section#faq h1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 30px;
    }
}

@media (max-width: 950px) {
    section#avis h1 {
        margin-top: 25px;
    }

    .gridAvis {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        align-items: start;
        margin-bottom: 25px;
    }

    header {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin-left: 100%;
        padding-block: 70px 0;
        transition: margin .35s ease-out;
        z-index: 99999;
        overflow-y: auto;
        backdrop-filter: blur(45px);
    }

    .menu_hamburger_active {
        /* menu hamburger visibilité */
        margin-left: 0;
    }

    .menu_hamburger {
        display: block;
        visibility: visible;
    }

    .progress-container {
        top: 0;
    }

    .header_responsive {
        display: flex;
        max-width: 100vw;
        overflow: hidden;
    }

    header .left {
        margin-bottom: 50px;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
    }

    .nav_links li {
        margin-block: 15px;
    }

    .nav_links li a {
        padding: 0 10px;
    }

    .nav_links:nth-child(3) {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media (max-width: 750px) {
    section#faq {
        padding-block: 25px;
    }

    section#faq .question {
        width: 80vw;
        min-width: 300px;
        height: 75px;
        padding: 0 15px;
    }

    section#faq .question p {
        font-size: 13px;
        line-height: 16px;
    }

    section#faq .question p.title {
        width: 40%;
    }

    section#faq .question p.subject,
    section#faq .question p.date {
        width: 10%;
    }

    section#faq .btn {
        margin-top: 40px;
    }
}

@media (max-width: 650px) {
    section#home h1 {
        font-size: 40px;
        width: 70vw;
        line-height: 45px;
    }

    section#home p.desc {
        font-size: 18px;
        line-height: 24px;
        width: 60vw;
    }

    section#expo {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-block: 25px;
    }

    section#expo .column {
        margin-right: 0;
        width: 75vw;
        align-items: center;
    }

    section#expo .column h1,
    section#personnel h1,
    section#avis h1,
    section#faq h1 {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
    }

    section#expo .rectangle {
        min-height: 400px;
        width: 75vw;
        margin-top: 45px;
    }

    section#expo .rectangle::before {
        height: 62vh;
        min-height: 350px;
        width: 70vw;
    }

    section#personnel .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px;
        margin-inline: 5%;
    }

    section#personnel .grid .item {
        width: 22vw;
    }

    section#avis .card {
        padding: 15px;
        width: 80vw;
        min-width: 270px;
        max-width: 450px;
    }

    section#avis .card .column {
        width: 100%;
    }

    section#avis .card p.nom {
        font-size: .9em;
    }

    section#avis .card p.aro,
    section#avis .card p.date {
        font-size: .85em;
    }

    section#avis .card p.message {
        line-height: 1.4;
        font-size: .85em;
    }

    section#faq .question p {
        font-size: .8em;
        line-height: 1.3;
    }

    section#faq .question {
        width: 90vw;
        height: 80px;
    }

    section#faq .question p.title {
        width: 55%;
    }

    section#faq .question p.subject {
        width: 25%;
    }

    section#faq .question p.date {
        width: 20%;
    }

    section#faq .btn {
        margin-top: 30px;
    }

    .btn {
        padding: 10px 15px;
        border-radius: 60px;
        font-size: .95em;
    }

    .btn i {
        font-size: .9em;
    }
}

@media (max-width: 500px) {
    .menu_hamburger {
        top: 13px;
        right: 5%;
        font-size: 2em;
    }

    .ads {
        padding: 10px 15px;
        height: 45px;
        width: 85vw;
    }

    .ads p {
        font-size: .85em;
    }

    .ads p img {
        margin-right: 15px;
        width: 22px;
        height: 22px;
    }

    .ads hr {
        margin-inline: 10px;
    }

    .ads a {
        font-size: .85em;
    }

    .ads a i {
        font-size: 1.05em;
        margin-left: 5px;
    }

    section#home h1 {
        font-size: 30px;
        width: 80vw;
        line-height: 1.2;
        margin-block: 15px;
    }

    section#home p.desc {
        font-size: 15px;
        line-height: 1.25;
        width: 70vw;
    }

    section#expo .column h1,
    section#personnel h1,
    section#avis h1,
    section#faq h1 {
        text-align: center;
        font-size: 23px;
        line-height: 1.3;
        margin-inline: 5px;
    }

    section#expo .column {
        width: 85vw;
    }

    section#expo p.desc {
        font-size: 14px;
        line-height: 1.4;
        margin-block: 40px 10px;
    }

    section#expo .rectangle {
        min-height: auto;
        height: 250px;
        width: 85vw;
        margin-top: 45px;
    }

    section#expo .rectangle::before {
        height: 220px;
        min-height: auto;
        width: 78vw;
    }

    section#personnel .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-inline: 10%;
    }

    section#personnel .grid .item {
        width: 100%;
    }

    section#avis .card {
        padding: 10px 20px;
        width: 70vw;
        max-width: auto;
    }

    section#avis .card .column {
        width: 100%;
    }

    section#avis .card p.nom {
        font-size: .85em;
    }

    section#avis .card p.aro,
    section#avis .card p.date {
        font-size: .8em;
    }

    section#avis .card p.message {
        line-height: 1.25;
        font-size: .8em;
        max-width: 100%;
    }

    section#avis .card .pp {
        display: none;
    }

    section#faq .question {
        width: 90vw;
        height: 80px;
    }

    section#faq .question p {
        font-size: .75em;
        line-height: 1.25;
    }

    section#faq .question p.title {
        width: 65%;
    }

    section#faq .question p.subject {
        display: none;
    }

    section#faq .question p.date {
        width: 20%;
    }

    section#faq .pp {
        width: 25px;
        max-width: 25px;
        min-width: 25px;
        max-height: 25px;
        min-height: 25px;
        height: 25px;
        margin: 0;
    }

    section#faq .btn {
        margin-top: 20px;
    }

    .btn {
        padding: 8px 12px;
        font-size: .85em;
    }

    .btn i {
        font-size: .9em;
    }
}